* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    box-sizing: border-box;
}

body {
    background-color: #424242;
    font-size: 24px;
}

.container {
    margin: 60px auto;
    padding: 0 20%;
    color: white;
}

.info {
    width: 50%;
}

.line {
    background-color: white;
    height: 2px;
    margin: 10px 0;
}

.mt-20 {
    margin-top: 20px;
}
.mt-50 {
    margin-top: 50px;
}

.btn__click {
    padding: 10px 15px;
    font-size: 20px;
    background-color: #2fb3ff;
    border-radius: 10px;
    border: 2px solid #329ddb;
    transition: .2s;
    color: white;
}

button:hover {
    background-color: rgb(60, 158, 214);
    border-color: #55c1ff;
    transition: .2s;
    box-shadow: 0px 1px 5px rgb(0, 174, 255);
}

button:active { 
    background-color: hsl(202, 100%, 78%);
    transition: .1s;
}

